@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
}

body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/11170536-fundo-de-quadro-de-escola-vetor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    color: aliceblue;
}

.pf img{
    width: 600px;
    margin-top: 10%;
    position: absolute;
}

.txt p{
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.txt{
    width: 30%;
    margin-left: 36%;
    margin-top: 5%;
}